streamlit
streamlit-float
sentence-transformers
fitz
faiss-cpu
frontend
fuzzywuzzy
python-levenshtein
pytesseract
pandas
pdfplumber
numpy
torch
tools
transformers
Pillow
accelerate
google-generativeai
