streamlit
streamlit-float
sentence-transformers
pymupdf==1.25.3
faiss-cpu
frontend
fuzzywuzzy
python-levenshtein
pytesseract
pandas
pdfplumber
numpy
torch
tools
transformers
Pillow
accelerate
google-generativeai
